/* block start: imports third-party library styles */
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';
/* block end: imports third-party library styles */

/* block start: global reset and base font styles */
body, html, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* block end: global reset and base font styles */

/* block start: fix for leaflet-draw icon spritesheet */
.leaflet-draw-toolbar a {
  background-image: url('/spritesheet.png');
  background-repeat: no-repeat;
}
/* block end: fix for leaflet-draw icon spritesheet */